footer {
  padding: $large-padding 0;
  color: $color-muted;
  // border-top: 1px solid $color-border;
  text-align: center;
  & a {
    color: $color-primary;
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
  footer {
    text-align: left;
  }
}
