.container {
  width: $container-max-width;
  max-width: 100%;
  padding: 0 $padding;
  margin: 0 auto;
}

.container.fluid {
  padding: 0;
}

@media only screen and (min-width: $tablet-breakpoint) {
  .container {
    padding: 0;
  }
}
